* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-size: 16px;
	background:#373746;
}
h1,h2,h3,h4,h5,h6 {
	font-weight: 700;
	color:#d3d5d8;
}
.section-padding {
	padding:50px 0;
}
.card-section {
    background: #2b2c3a;
    color: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px #2b2c3a;
    min-height: 338px;
}
.card-section h3:nth-child(1) {
    text-transform: uppercase;
    font-size: 20px;
	margin-bottom: 20px;
	letter-spacing: 4px;
}
.card-content h4 span:nth-child(1) , .static-card h4 {padding-left: 39px; font-size: 25px;}
.card-content h4 span:nth-child(2) , 
.right-card-content span {
    text-transform: none;
    color: #5c5e65;
    font-weight: 400;
    font-size:16px;
    display: block;
    padding-left: 38px;
}
.static-card span {padding:0;}
.card-content svg {
    color: #73767a;
    font-size: 25px;
    position: absolute;
    margin-top: 7px;
}
.card-body-container {
    position: relative;
    z-index: 1;
}
.right-card-content {
    padding-left: 25%;
    padding-top: 12%;
}
.right-card-content svg {
    position: absolute;
    top: 38px;
    font-size: 23px;
    display: inline-block;
    color:#31ce87
}
.right-card-content h3 {
    font-size: 28px;
    padding-left: 35px;
    text-transform: none;
    color: #d3d5d8;
}

/* Second Card*/
.card-section-right .right-card-content {
    padding-left: 0;
}
.card-section-right .right-card-content h1 {
	color:#d3d5d8;
}
.card-section-right .right-card-content h1 span{padding-left: 15px;}
.card-section-right .right-card-content svg {
    font-size: 50px;
    left: 21px;
    color: #c64f48;
}
.card-section-right .static-card {
    position: relative;
    padding-left: 35px;
    margin-top: -13px;
}
.card-section-right .static-card::before {
    position: absolute;
    left: -22px;
    top: 0;
    width: 1px;
    height: 100%;
    content: '';
    background: #373843;
}




/* Responsive*/
/* 770 TO 990 */
@media(min-width: 770px ) and ( max-width: 990px) {
    .card-section-right .right-card-content h1 {
        font-size: 30px;
    }
    .card-section-right .right-card-content svg {
        top: 30%;
        font-size: 23px;
    }
    .card-section-right .right-card-content h1 span {padding-left: 0;}
    .card-content h4 span.running,
    .card-content h4 span.next-run {
        padding-left: 32px; 
        font-size: 20px;
    }
    .card-content svg {
    margin-top: 14px;
    }

    .right-card-content h3 {
    font-size: 22px;}

    .right-card-content {
    padding-top: 50%; }

    .right-card-content svg {
    top: 40%; }

    .card-section-right .static-card {
        padding-left: 0;
    }
    card-content h4 span:nth-child(1), .static-card h4 {
       font-size: 18px;
   }
}

/* Untill 700*/
@media(max-width: 700px) {
    .card-section-right .right-card-content h1 {
        font-size: 30px;
    }
    .card-section-right .right-card-content svg {
        top: 8px;
        font-size: 23px;
    }
    .card-section-right .right-card-content h1 span {padding-left: 0;}
    .card-content h4 span.running,
    .card-content h4 span.next-run {
        padding-left: 38px; 
        font-size: 17px;
    }
    .card-content svg {
    margin-top: 16px;
    font-size: 20px;
}

    .right-card-content h3 {
    font-size: 22px;}

    .right-card-content {
    padding-top: 0;
    position: absolute;
    right: 0;
    margin-top: -22%;
    padding-left: 0;
}
    .card-section-right .right-card-content {
    left: 0;
    margin-top: 15px;
    text-align: left;
    padding-left: 43px;
}
    .right-card-content svg {
    top: 5px; }

    .card-section-right .static-card {
        padding-left: 0;
        text-align: right;
    }
    card-content h4 span:nth-child(1), .static-card h4 {
       font-size: 18px;
   }
}





/* 701 TO 769 */
@media(min-width: 701px ) and ( max-width: 769px) {
   .right-card-content {
    padding-top: 0;
    position: absolute;
    left: auto;
    top: 40%;
}
        .card-section-right .right-card-content h1 {
        font-size: 30px;
    }
    .card-section-right .right-card-content svg {
        top: 8px;
        font-size: 23px;
    }
    .card-section-right .right-card-content h1 span {padding-left: 0;}
    .card-content h4 span.running,
    .card-content h4 span.next-run {
        padding-left: 38px; 
        font-size: 17px;
    }
    .card-content svg {
    margin-top: 16px;
    font-size: 20px;
}

    .right-card-content h3 {
    font-size: 22px;}
    .card-section-right .right-card-content {
    left: 0;
    margin-top: 15px;
    text-align: left;
    padding-left: 43px;
}
    .right-card-content svg {
    top: 5px; }

    .card-section-right .static-card {
    padding-left: 57%;
    margin-top: -36px;
    text-align: left;
}
    card-content h4 span:nth-child(1), .static-card h4 {
       font-size: 18px;
   }


}
@media(min-width: 575px ) and ( max-width: 700px) {
    .right-card-content {
        margin-top: 18%;
    }
}